# dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# environment variables
.env
Backend/.env
Frontend/.env

# build folders
dist/
build/

# logs
*.log

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db